* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    margin: 0;
}

.background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh; 
  z-index: -1;   
  overflow: hidden;
}

.background img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;    
  height: 110%;  
  min-width: 110%; 
  transform: translate(-50%, -50%); 
  object-fit: cover; 
  filter: blur(8px);
}

.windows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: calc(50vw * 3 / 4);
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.01);
    filter: blur(0.5px);
    border-radius: 0 0 4% 4%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(15px); 
     -webkit-backdrop-filter: blur(15px);
     overflow-y: hidden;
    display: flex;
    flex-direction: column;
    
    
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #0078d444;
    color: white;
    font-size: 120%;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   background-color: #0078d444;
   backdrop-filter: inherit;
   -webkit-backdrop-filter: inherit;
}

.title-bar span.title {
    font-size: 120%;
}

.title-bar img {
    width: 2.2em;
    height: 2.2em;
    margin-right: 0.5em;
}

.title-bar .title {
  flex-grow: 1;
  color: white;
  font-weight: 500;
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
  transform-origin: left center;
}


.title-bar img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.window-controls {
    display: flex;
    gap: 1em;
}

.window-controls span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 120%;
  border-radius: 0px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.window-controls span:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.window-controls span.close:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    color: white;
}

.menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    transition: all 0.2s ease;
}

.menu ul li img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
}

.menu ul li:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease;
  cursor: pointer;
}


.menu ul li.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.menu ul li.active img {
  transform: scale(1.2);
}

.pactive {
  display: block;
  color: white;
  font-weight: 400;
}

section { 
  display: none;
  font-weight: 400;
}

.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 100vh;
  flex: 1;
  min-width: 250px;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  flex: 3;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-wrap: anywhere;

}

.main {
  display: flex;
  flex: 1;
}