* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'naisn-nanpa';
  src: url(assets/fonttoki.otf) format('opentype');
}

a {
    color:white;
    text-decoration: none;
}

html, body {
    height: 100vh;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

.background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh; 
  z-index: -1;   
  overflow: hidden;
}

.background img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;    
  height: 110%;  
  min-width: 110%; 
  transform: translate(-50%, -50%); 
  object-fit: cover; 
  filter: blur(8px);
}

.windows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    max-width: 1080px;
    max-height: 810px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.01);
    filter: blur(0.5px);
    border-radius: 0 0 4% 4%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: border-radius 0.2s ease;
}

.windows.has-scrollbar {
    border-radius: 0 0 0 4%;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background-color: #0078d444;
    color: white;
    font-size: 100%;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   background-color: #0078d444;
   backdrop-filter: inherit;
   -webkit-backdrop-filter: inherit;
}

.title-bar img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.5em;
}

.title-bar img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.window-controls {
    display: flex;
    gap: 1em;
    margin-right: 0.5em;
}

.window-controls span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 100%;
  border-radius: 0px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
 

}

.window-controls span:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.window-controls span.close:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    color: white;
}

.menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    transition: all 0.2s ease;
}

.menu ul li img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
}

.menu ul li:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease;
  cursor: pointer;
}


.menu ul li.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.menu ul li.active img {
  transform: scale(1.2);
}

.pactive {
  display: block;
  color: white;
  font-weight: 400;
}

section { 
  display: none;
  font-weight: 400;
}

.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 100vh;
  flex: 1;
  min-width: 250px;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.collapsed {
  display: none;
}

.content {
  flex: 3;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 100dvh;
}

.content section {
  display: none;
}

.content section.pactive {
  display: block;
}


#about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-image: linear-gradient(to right, rgba(255, 255,255, 0.5), rgba(255, 255, 255, 0)) 1;
  padding: 10px;
} 

#secondb {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-image: linear-gradient(to right, rgba(255, 255,255, 0.5), rgba(255, 255, 255, 0)) 1;
  padding: 10px;
}

#about ul li pre{
  font-family: "Cabin", sans-serif;
}

#projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-image: linear-gradient(to right, rgba(255, 255,255, 0.5), rgba(255, 255, 255, 0)) 1;
  padding: 10px;
} 

#contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-image: linear-gradient(to right, rgba(255, 255,255, 0.5), rgba(255, 255, 255, 0)) 1;
  padding: 10px;
}

#contact ul li img{
  width: 1em;
  height: 1em;
  transform: translateY(0.2em);
}

#notes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-image: linear-gradient(to right, rgba(255, 255,255, 0.5), rgba(255, 255, 255, 0)) 1;
  padding: 10px;
}

#links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-image: linear-gradient(to right, rgba(255, 255,255, 0.5), rgba(255, 255, 255, 0)) 1;
  padding: 10px;
}

#toki {
  font-family: 'naisn-nanpa', sans-serif;
  font-size: 2.4em;
  color: white;
}

